html[dir='rtl'] .col, html[dir='rtl'] .col-auto, html[dir='rtl'] .col-1, html[dir='rtl'] .col-2, html[dir='rtl'] .col-3, html[dir='rtl'] .col-4, html[dir='rtl'] .col-5, html[dir='rtl'] .col-6, html[dir='rtl'] .col-7, html[dir='rtl'] .col-8, html[dir='rtl'] .col-9, html[dir='rtl'] .col-10, html[dir='rtl'] .col-11, html[dir='rtl'] .col-12, html[dir='rtl'] .col-sm-1, html[dir='rtl'] .col-sm-2, html[dir='rtl'] .col-sm-3, html[dir='rtl'] .col-sm-4, html[dir='rtl'] .col-sm-5, html[dir='rtl'] .col-sm-6, html[dir='rtl'] .col-sm-7, html[dir='rtl'] .col-sm-8, html[dir='rtl'] .col-sm-9, html[dir='rtl'] .col-sm-10, html[dir='rtl'] .col-sm-11, html[dir='rtl'] .col-sm-12, html[dir='rtl'] .col-md-1, html[dir='rtl'] .col-md-2, html[dir='rtl'] .col-md-3, html[dir='rtl'] .col-md-4, html[dir='rtl'] .col-md-5, html[dir='rtl'] .col-md-6, html[dir='rtl'] .col-md-7, html[dir='rtl'] .col-md-8, html[dir='rtl'] .col-md-9, html[dir='rtl'] .col-md-10, html[dir='rtl'] .col-md-11, html[dir='rtl'] .col-md-12, html[dir='rtl'] .col-lg-1, html[dir='rtl'] .col-lg-2, html[dir='rtl'] .col-lg-3, html[dir='rtl'] .col-lg-4, html[dir='rtl'] .col-lg-5, html[dir='rtl'] .col-lg-6, html[dir='rtl'] .col-lg-7, html[dir='rtl'] .col-lg-8, html[dir='rtl'] .col-lg-9, html[dir='rtl'] .col-lg-10, html[dir='rtl'] .col-lg-11, html[dir='rtl'] .col-lg-12, html[dir='rtl'] .col-xl-1, html[dir='rtl'] .col-xl-2, html[dir='rtl'] .col-xl-3, html[dir='rtl'] .col-xl-4, html[dir='rtl'] .col-xl-5, html[dir='rtl'] .col-xl-6, html[dir='rtl'] .col-xl-7, html[dir='rtl'] .col-xl-8, html[dir='rtl'] .col-xl-9, html[dir='rtl'] .col-xl-10, html[dir='rtl'] .col-xl-11, html[dir='rtl'] .col-xl-12 {
    float: right;
}

html[dir='rtl'] body {
    text-align: right;
}

html[dir='rtl'] .navbar-nav > li {
    float: right;
}

html[dir='rtl'] .dl-horizontal dt {
    float: right;
}

html[dir='rtl'] th {
    text-align: right;
}

html[dir='rtl'] .dropdown-menu {
    text-align: right;
}

html[dir='rtl'] .modal-header .close {
    margin-left: 0rem;
}

html[dir='rtl'] .modal-footer {
    text-align: left;
}

html[dir='rtl'] .jh-create-entity {
    float: left !important;
}

html[dir='rtl'] .form-check-input {
    margin-left: 0rem;
    margin-right: -1.25rem;
}

html[dir='rtl'] .form-check-label {
    padding-left: 0rem;
    padding-right: 1.25rem;
}

html[dir='rtl'] .input-group-prepend {
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir='rtl'] .form-control + .input-group-append {
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir='rtl'] .modal-footer > :not(:first-child) {
    margin-left: 0rem;
    margin-right: 0.25rem;
}

html[dir='rtl'] .navbar-nav.ml-auto {
    margin-left: unset !important;
    margin-right: auto;
}

html[dir='rtl'] .jh-navbar a.nav-link > span {
    margin-left: 0;
    margin-right: 5px;
}

html[dir='rtl'] .ribbon {
    left: auto;
    right: -3.5em;
    transform: rotate(45deg);
}

html[dir='rtl'] .vertical-layout .main-panel .main-content {
    margin-right: 250px;
    margin-left: 0px;
}

@media (max-width: 1200px) {
    html[dir='rtl'] .main-panel .main-content {
        margin-right: 0 !important;
    }
}

html[dir='rtl'] .menu-expanded .app-sidebar {
    right: 0;
}

@media (min-width: 1200px) {
    html[dir='rtl'] .app-sidebar {
        right: 0;
    }
}

@media (min-width: 1200px) {
    html[dir='rtl'] .vertical-menu .navbar {
        margin-right: 250px;
        margin-left: 0;
    }
}

html[dir='rtl'] .app-sidebar .navigation i {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

html[dir='rtl'] .navbar .navbar-nav {
    /*margin-left: -60px;*/
    margin-left: auto;
}

@media (max-width: 991.98px) {
    html[dir='rtl'] .navbar .navbar-nav {
        margin-left: -20px;
        margin-right: -5px;
    }
}

html[dir='rtl'] .app-sidebar .navigation li.has-sub > a:after {
    left: 15px;
    right: auto;
    content: "\e843";
}

html[dir='rtl'] .app-sidebar .navigation li.open > a:after {
    transform: rotate(-90deg);
}

html[dir='rtl'] .sidebar-header a.nav-toggle {
    left: 14px;
    right: auto;
}

html[dir='rtl'] .float-logo {
    float: right;
}

@media (min-width: 1200px) {
    html[dir='rtl'] body.nav-collapsed:not(.horizontal-layout) .main-panel .main-content {
        margin-left: 0;
        margin-right: 60px;
    }
}

html[dir='rtl'] .mr-2, html[dir='rtl'] .mx-2 {
    margin-left: 0.75rem !important;
}

html[dir='rtl'] .navbar .navbar-container .notification {
    left: 14px;
    right: auto;
}

@media (min-width: 1200px) {
    html[dir='rtl'] body.nav-collapsed:not(.horizontal-layout) .navbar {
        margin-right: 65px;
        margin-left: auto;
    }
}

html[dir='rtl'] .label2 {
    right: -18px;
    left: auto;
    transform: rotate(27deg);
}

html[dir='rtl'] .label {
    right: -20px;
    transform: rotate(20deg);
}

html[dir='rtl'] .float-button {
    float: left;
}

html[dir='rtl']

@media (min-width: 768px) {
    html[dir='rtl'] #kc-locale {
        text-align: left;
    }
}


@media (min-width: 768px) {
    html[dir='rtl'] #kc-locale {
        text-align: left;
    }
}
html[dir='rtl'] .pf-c-dropdown__menu.pf-m-align-right {
    left: 0;
    right: auto;
}

html[dir='rtl'] .nav-link-deal {
    margin-left: 13px;
    margin-right:auto;
    font-size: 24px !important;
}