.login-pf body {
    background: url("../img/blue-sky.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.lock {
    position: absolute;
    bottom: 80%;
    width: 30%;
    height: 20%;
    left: 34%;
    background: url('../img/moorishHome.png') center center no-repeat;
    background-size: contain;
}

/*IE compatibility*/
.pf-c-form-control {
    font-size: 14px;
    font-size: var(--pf-global--FontSize--sm);
    border-width: 1px;
    border-width: var(--pf-global--BorderWidth--sm);;
    border-color: #EDEDED #EDEDED #8A8D90 #EDEDED;
    border-color: var(--pf-global--BorderColor--300) var(--pf-global--BorderColor--300) var(--pf-global--BorderColor--200) var(--pf-global--BorderColor--300);
    background-color: #FFFFFF;
    background-color: var(--pf-global--BackgroundColor--100);
    height: 36px;
    height: calc(var(--pf-c-form-control--FontSize) * var(--pf-c-form-control--LineHeight) + var(--pf-c-form-control--BorderWidth) * 2 + var(--pf-c-form-control--PaddingTop) + var(--pf-c-form-control--PaddingBottom));
    padding: 5px 0.5rem;
    padding: var(--pf-c-form-control--PaddingTop) var(--pf-c-form-control--PaddingRight) var(--pf-c-form-control--PaddingBottom) var(--pf-c-form-control--PaddingLeft);
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
    border-bottom-color: #0066CC;
    border-bottom-color: var(--pf-global--primary-color--100);
    border-bottom-width: 2px;
    border-bottom-width: var(--pf-global--BorderWidth--md);
}

.pf-c-form-control[aria-invalid="true"] {
    border-bottom-color: #C9190B;
    border-bottom-color: var(--pf-global--danger-color--100);
    border-bottom-width: 2px;
    border-bottom-width: var(--pf-global--BorderWidth--md);
}

.pf-c-alert.pf-m-inline {
    margin-bottom: 0.5rem; /* default - IE compatibility */
    margin-bottom: var(--pf-global--spacer--sm);
    padding: 0.25rem;
    padding: var(--pf-global--spacer--xs);
    border: solid #ededed;
    border: solid var(--pf-global--BorderColor--300);
    border-width: 1px;
    border-width: var(--pf-c-alert--m-inline--BorderTopWidth) var(--pf-c-alert--m-inline--BorderRightWidth) var(--pf-c-alert--m-inline--BorderBottomWidth) var(--pf-c-alert--m-inline--BorderLeftWidth);
    display: -ms-flexbox;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
    grid-template-columns: max-content 1fr max-content;
    grid-template-columns: var(--pf-c-alert--grid-template-columns);
    grid-template-rows: 1fr auto;
    grid-template-rows: var(--pf-c-alert--grid-template-rows);
}

.pf-c-alert.pf-m-inline::before {
    position: absolute;
    top: -1px;
    top: var(--pf-c-alert--m-inline--before--Top);
    bottom: -1px;
    bottom: var(--pf-c-alert--m-inline--before--Bottom);
    left: 0;
    width: 3px;
    width: var(--pf-c-alert--m-inline--before--Width);
    content: "";
    background-color: #FFFFFF;
    background-color: var(--pf-global--BackgroundColor--100);
}

.pf-c-alert.pf-m-inline.pf-m-success::before {
    background-color: #92D400;
    background-color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-danger::before {
    background-color: #C9190B;
    background-color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-warning::before {
    background-color: #F0AB00;
    background-color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-inline .pf-c-alert__icon {
    padding: 1rem 0.5rem 1rem 1rem;
    padding: var(--pf-c-alert--m-inline__icon--PaddingTop) var(--pf-c-alert--m-inline__icon--PaddingRight) var(--pf-c-alert--m-inline__icon--PaddingBottom) var(--pf-c-alert--m-inline__icon--PaddingLeft);
    font-size: 16px;
    font-size: var(--pf-c-alert--m-inline__icon--FontSize);
}

.pf-c-alert.pf-m-success .pf-c-alert__icon {
    color: #92D400;
    color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-success .pf-c-alert__title {
    color: #486B00;
    color: var(--pf-global--success-color--200);
}

.pf-c-alert.pf-m-danger .pf-c-alert__icon {
    color: #C9190B;
    color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-danger .pf-c-alert__title {
    color: #A30000;
    color: var(--pf-global--danger-color--200);
}

.pf-c-alert.pf-m-warning .pf-c-alert__icon {
    color: #F0AB00;
    color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-warning .pf-c-alert__title {
    color: #795600;
    color: var(--pf-global--warning-color--200);
}

.pf-c-alert__title {
    font-size: 14px; /* default - IE compatibility */
    font-size: var(--pf-global--FontSize--sm);
    padding: 5px 8px;
    padding: var(--pf-c-alert__title--PaddingTop) var(--pf-c-alert__title--PaddingRight) var(--pf-c-alert__title--PaddingBottom) var(--pf-c-alert__title--PaddingLeft);
}

.pf-c-button {
    padding: 0.375rem 1rem;
    padding: var(--pf-global--spacer--form-element) var(--pf-global--spacer--md);
}

/* default - IE compatibility */
.pf-m-primary {
    color: #FFFFFF;
    background-color: #0066CC;
    background-color: var(--pf-global--primary-color--100);
}

/* default - IE compatibility */
.pf-m-primary:hover {
    background-color: #004080;
    background-color: var(--pf-global--primary-color--200);
}

/* default - IE compatibility */
.pf-c-button.pf-m-control {
    border: solid 1px;
    border: solid var(--pf-global--BorderWidth--sm);
    border-color: rgba(230, 230, 230, 0.5);
}

/*End of IE compatibility*/
h1#kc-page-title {
    margin-top: 0;
}

#kc-locale ul {
    background-color: #FFF;
    background-color: var(--pf-global--BackgroundColor--100);
    display: none;
    top: 20px;
    min-width: 100px;
    padding: 0;
}

#kc-locale:hover ul {
    display: block;
}

/* IE compatibility */
#kc-locale-dropdown a {
    color: #6A6E73;
    color: var(--pf-global--Color--200);
    text-align: right;
    font-size: 14px;
    font-size: var(--pf-global--FontSize--sm);
}

/* IE compatibility */
a#kc-current-locale-link::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

.img-logo {
    background: url(../img/moorishHome.png) no-repeat;
    height: 95px;
    margin: -60px 0 0 49px;
    background-size: 26%;
}

#kc-logo-wrapper {
    background: url(../img/moorishHome.png) no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background: url(../img/keycloak-logo-text.png) no-repeat;
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 62px 10px 20px;
    white-space: normal;
}

#kc-content {
    width: 100%;
}

#kc-attempted-username {
    font-size: 20px;
    font-family: inherit;
    font-weight: normal;
    padding-right: 10px;
}

#kc-username {
    text-align: center;
    margin-bottom: -10px;
}

#kc-webauthn-settings-form {
    padding-top: 8px;
}

#kc-content-wrapper {
    margin-top: 20px;
}

#kc-form-wrapper {
    margin-top: 10px;
}

#kc-info {
    margin: 17px -40px -30px;
}

#kc-info-wrapper {
    font-size: 13px;
    padding: 14px 35px;
    background-color: #F0F0F0;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 0;
}

/* TOTP */

.subtitle {
    text-align: right;
    margin-top: 30px;
    color: #909090;
}

.required {
    color: #A30000; /* default - IE compatibility */
    color: var(--pf-global--danger-color--200);
}

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
    margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width: 150px;
    max-height: 150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */
.kc-social-links {
    margin-top: 8px;
}

.kc-social-provider-logo {
    font-size: 23px;
    width: 30px;
    height: 25px;
    float: left;
}

.kc-social-gray {
    color: #737679; /* default - IE compatibility */
    color: var(--pf-global--Color--200);
}

.kc-social-item {
    margin-bottom: 0.5rem; /* default - IE compatibility */
    margin-bottom: var(--pf-global--spacer--sm);
    font-size: 15px;
    text-align: center;
}

.kc-social-provider-name {
    position: relative;
    top: 3px;
}

.kc-social-icon-text {
    left: -15px;
}

.kc-social-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-column-end: span 6;
    --pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
    left: -10px;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block;
}

.kc-social-section {
    text-align: center;
}

.kc-social-section hr {
    margin-bottom: 10px
}

.kc-login-tooltip .kc-tooltip-text {
    top: -3px;
    left: 160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width: 130px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
    visibility: visible;
    opacity: 0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
        margin-top: 8px;
    }
}

@media (max-width: 767px) {

    .login-pf body {
        background: white;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: left;
    }

    #kc-header-wrapper {
        font-size: 16px;
        font-weight: bold;
        padding: 20px 60px 0 0;
        color: #72767b;
        letter-spacing: 0;
    }

    div.kc-logo-text {
        margin: 0;
        width: 150px;
        height: 32px;
        background-size: 100%;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background-color: transparent;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}

#kc-form-buttons {
    margin-top: 12px;
}

.login-pf-page {
    padding-top: 5px;

}

.login-pf-page .login-pf-brand {
    margin-top: 20px;
    max-width: 360px;
    width: 40%;
}

/* Internet Explorer 11 compatibility workaround for select-authenticator screen */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .select-auth-box-parent {
        border-top: 1px solid #f0f0f0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    .select-auth-box-headline {
        font-size: 16px;
        color: #06c;
        font-weight: bold;
    }

    .select-auth-box-desc {
        font-size: 14px;
    }

    .pf-l-stack {
        flex-basis: 100%;
    }
}

/* End of IE11 workaround for select-authenticator screen */

.select-auth-box-arrow {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.select-auth-box-icon {
    display: flex;
    flex: 0 0 2em;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 3rem;
}

.select-auth-box-parent {
    border-top: 1px solid var(--pf-global--palette--black-200);
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.select-auth-box-parent:hover {
    background-color: #f7f8f8;
}

.select-auth-container {
    padding-bottom: 0px !important;
}

.select-auth-box-headline {
    font-size: var(--pf-global--FontSize--md);
    color: var(--pf-global--primary-color--100);
    font-weight: bold;
}

.select-auth-box-desc {
    font-size: var(--pf-global--FontSize--sm);
}

.card-pf-register {
    padding: 20px 10px 30px 10px !important;
}

.card-pf {
    position: relative;
    margin: 110px auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    max-width: 500px;
    border-top: 4px solid;
    border-color: #0066CC; /* default - IE compatibility */
    border-color: var(--pf-global--primary-color--100);
}

/*phone*/
@media (max-width: 767px) {
    .login-pf-page .card-pf {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        border-top: 0;
        box-shadow: 0 0;
    }

    .kc-social-grid {
        grid-column-end: 12;
        --pf-l-grid__item--GridColumnEnd: span 12;
    }

    .kc-social-grid .kc-social-icon-text {
        left: -15px;
    }
}

.login-pf-page .login-pf-signup {
    font-size: 15px;
    color: #72767b;
}

#kc-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
    margin-left: auto;
    margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
    border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
    width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

#kc-back {
    margin-top: 5px;
}

.kc-social-provider-logo {
    margin-right: 20px;
    color: white;
}

.kc-social-icon-text {
    color: white;
}

#social-google {
    background-color: #b24033;
}

#social-facebook {
    background-color: #3b5998;
}

#social-linkedin {
    background-color: #0e76a8;
}

.kc-social-item {
    width: 100% !important;
}

.register-button {
    background-color: #d3cfd5;
    color: black;
    text-shadow: 1px 1px 0 #ffffff;
    text-align: center;
    margin-top: 16px;
    margin-left: 10px;
    padding: 0;
    /*box-shadow: inset rgb(255 254 255 / 60%) 0 0.3em 0.3em, inset rgb(0 0 0 / 15%) 0 -0.1em 0.3em, #484848 0 0.1em 3px;*/
    height: 55px;
    width: 33% !important;

}

.register-button-title {
    color: #000b6c;
    font-size: 15px;
    cursor: pointer;
    font-family: fantasy;
    display: grid;
}

.client-register-icon {
    background: url("../img/login/client-icon.png") no-repeat center center;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.provider-register-icon {
    background: url("../img/login/provider-icon.png") no-repeat center center;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.agency-register-icon {
    background: url("../img/login/agency-icon.png") no-repeat center center;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.label {
    text-shadow: 3px 3px 0 #707070;
    font-family: cursive;
    position: absolute;
    text-align: center;
    top: 10px;
    left: -20px;
    width: 130px;
    height: 40px;
    line-height: 35px;
    color: #ffffff;
    transform: rotate(-20deg);
    background: #51af2b;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.label2 {
    position: absolute;
    top: 0px;
    left: -18px;
    width: 130px;
    height: 40px;
    line-height: 35px;
    color: #cdd1d1;
    transform: rotate(-27deg);
    background: rgba(81, 175, 43, 0.35);
}

/* ========================================================================== Navbar ========================================================================== */
.profile-image {
    height: 1.75em;
    width: 1.75em;
}

.navbar {
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0 4px 6px -1px #000;
    background-color: #000 !important;
}

.navbar ul.navbar-nav .nav-item {
    margin-left: 0.5em;
}

.navbar a.nav-link {
    font-weight: 400;
}

/* ========================================================================== Logo styles ========================================================================== */
.logo-img {
    height: 45px;
    width: 169px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/title_deal_to_book3.png') no-repeat center center;
    background-size: contain;
}

.nav-title {
    font-family: Alatsi, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    font-style: italic;
    text-decoration: none;
    line-height: 0.6em;
    letter-spacing: 1.6px;
    text-shadow: 3px 2px 1px rgba(204, 204, 204, 1);
}

.nav-link-deal {
    margin-right: 13px;
    font-family: cursive;
    font-weight: 600 !important;
    font-size: 14px;
    font-variant: all-petite-caps;
    color: black !important;
}

.nav-link-deal :hover {
    text-decoration: underline;
    color: #77b8b3 !important;
}

.nav-link-deal__color {
    color: black !important;
}

.nav-link-deal__color-blue {
    color: #22b8b6 !important;
}

.navbar-nav {
    display: flex !important;
}

.top-bar {
    background-color: transparent;
    text-align: center;
    padding: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

/* ========================================================================== Right-to-Left support ========================================================================== */
html[dir='rtl'] .col, html[dir='rtl'] .col-auto, html[dir='rtl'] .col-1, html[dir='rtl'] .col-2, html[dir='rtl'] .col-3, html[dir='rtl'] .col-4, html[dir='rtl'] .col-5, html[dir='rtl'] .col-6, html[dir='rtl'] .col-7, html[dir='rtl'] .col-8, html[dir='rtl'] .col-9, html[dir='rtl'] .col-10, html[dir='rtl'] .col-11, html[dir='rtl'] .col-12, html[dir='rtl'] .col-sm-1, html[dir='rtl'] .col-sm-2, html[dir='rtl'] .col-sm-3, html[dir='rtl'] .col-sm-4, html[dir='rtl'] .col-sm-5, html[dir='rtl'] .col-sm-6, html[dir='rtl'] .col-sm-7, html[dir='rtl'] .col-sm-8, html[dir='rtl'] .col-sm-9, html[dir='rtl'] .col-sm-10, html[dir='rtl'] .col-sm-11, html[dir='rtl'] .col-sm-12, html[dir='rtl'] .col-md-1, html[dir='rtl'] .col-md-2, html[dir='rtl'] .col-md-3, html[dir='rtl'] .col-md-4, html[dir='rtl'] .col-md-5, html[dir='rtl'] .col-md-6, html[dir='rtl'] .col-md-7, html[dir='rtl'] .col-md-8, html[dir='rtl'] .col-md-9, html[dir='rtl'] .col-md-10, html[dir='rtl'] .col-md-11, html[dir='rtl'] .col-md-12, html[dir='rtl'] .col-lg-1, html[dir='rtl'] .col-lg-2, html[dir='rtl'] .col-lg-3, html[dir='rtl'] .col-lg-4, html[dir='rtl'] .col-lg-5, html[dir='rtl'] .col-lg-6, html[dir='rtl'] .col-lg-7, html[dir='rtl'] .col-lg-8, html[dir='rtl'] .col-lg-9, html[dir='rtl'] .col-lg-10, html[dir='rtl'] .col-lg-11, html[dir='rtl'] .col-lg-12, html[dir='rtl'] .col-xl-1, html[dir='rtl'] .col-xl-2, html[dir='rtl'] .col-xl-3, html[dir='rtl'] .col-xl-4, html[dir='rtl'] .col-xl-5, html[dir='rtl'] .col-xl-6, html[dir='rtl'] .col-xl-7, html[dir='rtl'] .col-xl-8, html[dir='rtl'] .col-xl-9, html[dir='rtl'] .col-xl-10, html[dir='rtl'] .col-xl-11, html[dir='rtl'] .col-xl-12 {
    float: right;
}

html[dir='rtl'] body {
    text-align: right;
}

html[dir='rtl'] .navbar-nav > li {
    float: right;
}

html[dir='rtl'] .dl-horizontal dt {
    float: right;
}

html[dir='rtl'] .ml-auto {
    margin-left: 0 !important;
}

html[dir='rtl'] th {
    text-align: right;
}

html[dir='rtl'] .dropdown-menu {
    text-align: right;
}

html[dir='rtl'] .modal-header .close {
    margin-left: 0rem;
}

html[dir='rtl'] .modal-footer {
    text-align: left;
}

html[dir='rtl'] .jh-create-entity {
    float: left !important;
}

html[dir='rtl'] .form-check-input {
    margin-left: 0rem;
    margin-right: -1.25rem;
}

html[dir='rtl'] .form-check-label {
    padding-left: 0rem;
    padding-right: 1.25rem;
}

html[dir='rtl'] .input-group-prepend {
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir='rtl'] .form-control + .input-group-append {
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir='rtl'] .modal-footer > :not(:first-child) {
    margin-left: 0rem;
    margin-right: 0.25rem;
}

html[dir='rtl'] .dir-lng {
    float: left;
    display: flex;
    margin-left: 35px;
    margin-top: 10px;
}

html[dir='ltr'] .dir-lng {
    display: flex;
    float: right;
    margin-right: 35px;
    margin-top: 10px;
}

html[dir='rtl'] .page-item:first-child .page-link {
    margin-right: 0;
    margin-left: -1px;
}

.login-pf-page .login-pf-header {
    margin-bottom: 40px;
}

.login-img-logo {
    position: absolute;
    width: 22%;
    z-index: 1;
    top: -45px;
    right: 40%;
    left: 40%;
}

@media (max-width: 767px) {
    .label2 {
        display: none;
    }

    .label {
        display: none;

    }

    .login-img-logo {
        display: none;

    }
}

/* main 1*/
/* main 2*/
/* neutral 1*/
/* neutral 2*/
body {
    background-color: #2e2e2e;
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    max-width: 600px;
    width: 100%;
    min-width: 260px;
    margin: 0 5%;
    margin-top: 10%;
    transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
    .content {
        margin: 0 4%;
        margin-top: 5%;
    }
}

/* Tabs menu */
.tabs {
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 2px 2px 0px 0px;
}

@media screen and (max-width: 512px) {
    .tabs {
        height: 40px;
    }
}

/* Tab Links */
.tablinks {
    background: transparent;
    background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    /*change depending on the number of tabs*/
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    overflow: hidden;
    transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
    .tablinks {
        height: 40px;
        font-size: 12px;
    }
}

.tablinks:before {
    /* Gradient */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

/*tab buttons hover*/
.tablinks:hover::before {
    height: 100%;
    z-index: 2;
    bottom: 0;
}

@media screen and (max-width: 512px) {
    .tablinks:hover::before {
        height: 0;
    }
}

/* Tab active */
.tablinks.active {
    background-color: white;
    z-index: 0;
    border-right: 0px;
    border-left: 0px;
    height: 110px;
    bottom: 0px;
    overflow: hidden;
}

@media screen and (max-width: 512px) {
    .tablinks.active {
        height: 60px;
    }
}

.tablinks.active:before {
    /* Gradient */
    content: "";
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
}

/* Tabs text */
.tablinks.active p, .tablinks.active:hover p {
    opacity: 1;
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tablinks p {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
    color: #686868;
    backface-visibility: hidden;
    font-weight: 400;
}

.tablinks:hover p {
    color: white;
    opacity: 1;
}

@media screen and (max-width: 512px) {
    .tablinks:hover p {
        color: #686868;
        opacity: 0.6;
    }
}

/* Tabs text bigger */
.tablinks p:before {
    content: attr(data-title);
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
    font-size: 40px;
    transition: 1s ease-out;
    z-index: -1;
    font-weight: 600;
    top: 110%;
}

@media screen and (max-width: 512px) {
    .tablinks p:before {
        display: none;
    }
}

.tablinks:hover p:before {
    opacity: 0.1;
    font-size: 40px;
    top: -80%;
}

/* tab content */
.wrapper_tabcontent {
    background-color: white;
    margin-top: 0px;
    z-index: -3;
    position: relative;
    opacity: 1;
    padding: 40px 60px;
    overflow: hidden;
    transition: all 1s ease;
    top: 0;
}

.tabcontent {
    display: none;
    min-height: 180px;
}

@keyframes tabEffect {
    from {
        top: -40px;
    }
    to {
        top: 0px;
    }
}

.tabcontent.active {
    transition: all 1s ease;
    display: block;
}

/* Tab content line */
.wrapper_tabcontent:after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
    font-size: 40px;
    top: 75px;
    transform: rotate(90deg);
    position: absolute;
    left: -90px;
    opacity: 0.1;
    width: 200px;
    height: 60px;
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    animation: city 1s ease;
}

@media screen and (max-width: 512px) {
    .tabcontent h3 {
        top: 65px;
    }
}

@keyframes city {
    from {
        left: -150px;
    }
    to {
        left: -90px;
    }
}

/* Text*/
.tabcontent p {
    color: #686868;
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-weight: 100;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 100%;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 512px) {
    .tabcontent p {
        font-size: 14px;
        line-height: 26px;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Inconsolata);
ul#tabs-list {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    padding: 0;
}

label.panel-label {
    user-select: none;
    display: block;
    width: 100%;
    color: #bdc3c7;
    cursor: pointer;
    background-color: #ecf0f1;
    transition-property: background-color, color;
    transition-duration: 200ms;
}

label.panel-label:hover {
    color: #c0392b;
}

#panels {
    background-color: white;
}

#panels .container {
    margin: 0 auto;
    width: 90%;
}

#panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
}

#panels section main {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    transition: opacity 600ms;
    overflow-y: hidden;
}

#panel-1-ctrl:checked ~ #panels #panel-1 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}

#panel-2-ctrl:checked ~ #panels #panel-2 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}

#panel-3-ctrl:checked ~ #panels #panel-3 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}

#panel-4-ctrl:checked ~ #panels #panel-4 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}

#panel-5-ctrl:checked ~ #panels #panel-5 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}

@media all and (max-width: 767px) {
    #nav-ctrl:checked ~ #tabs-list #li-for-panel-1 {
        max-height: 46px;
        opacity: 1;
    }

    #nav-ctrl:checked ~ #tabs-list #li-for-panel-2 {
        max-height: 46px;
        opacity: 1;
    }

    #nav-ctrl:checked ~ #tabs-list #li-for-panel-3 {
        max-height: 46px;
        opacity: 1;
    }

    #nav-ctrl:checked ~ #tabs-list #li-for-panel-4 {
        max-height: 46px;
        opacity: 1;
    }

    #nav-ctrl:checked ~ #tabs-list #li-for-panel-5 {
        max-height: 46px;
        opacity: 1;
    }

    #open-nav-label {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }

    #nav-ctrl:checked ~ #tabs-list #open-nav-label {
        display: none;
    }

    #close-nav-label {
        display: block;
        max-height: 0;
        overflow-y: hidden;
        background-color: #444;
        color: #ecf0f1;
        padding: 0px;
        transition: max-height 200ms;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 1px;
    }

    #nav-ctrl:checked ~ #tabs-list #close-nav-label {
        max-height: 36px;
        opacity: 1;
        padding: 12px 24px;
    }

    #tabs-list {
        position: relative;
    }

    #tabs-list label.panel-label {
        padding: 12px 0;
    }

    #tabs-list #li-for-panel-1 {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 200ms;
    }

    #tabs-list #li-for-panel-2 {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 200ms;
    }

    #tabs-list #li-for-panel-3 {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 200ms;
    }

    #tabs-list #li-for-panel-4 {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 200ms;
    }

    #tabs-list #li-for-panel-5 {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 200ms;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
        max-height: 46px;
        opacity: 1;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
        background-color: white;
        color: #c0392b;
        background-color: #c0392b;
        color: white;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
        max-height: 46px;
        opacity: 1;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
        background-color: white;
        color: #c0392b;
        background-color: #c0392b;
        color: white;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
        max-height: 46px;
        opacity: 1;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
        background-color: white;
        color: #c0392b;
        background-color: #c0392b;
        color: white;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
        max-height: 46px;
        opacity: 1;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
        background-color: white;
        color: #c0392b;
        background-color: #c0392b;
        color: white;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
        max-height: 46px;
        opacity: 1;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
        background-color: white;
        color: #c0392b;
        background-color: #c0392b;
        color: white;
    }

    #panels .container {
        width: 100%;
    }

    #panels section header {
        display: block;
    }
}

@media all and (min-width: 768px) {
    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
        pointer-events: none;
        cursor: default;
        transform: translate3d(0, 1px, 0);
        box-shadow: none;
        border-right: none;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1.last {
        border-right: 1px solid transparent;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
        border-left: 1px solid #dfdfdf;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
        background-color: white;
        color: #c0392b;
        padding-top: 26px;
    }

    #panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
        height: 6px;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
        pointer-events: none;
        cursor: default;
        transform: translate3d(0, 1px, 0);
        box-shadow: none;
        border-right: none;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2.last {
        border-right: 1px solid transparent;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
        border-left: 1px solid #dfdfdf;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
        background-color: white;
        color: #c0392b;
        padding-top: 26px;
    }

    #panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
        height: 6px;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
        pointer-events: none;
        cursor: default;
        transform: translate3d(0, 1px, 0);
        box-shadow: none;
        border-right: none;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3.last {
        border-right: 1px solid transparent;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
        border-left: 1px solid #dfdfdf;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
        background-color: white;
        color: #c0392b;
        padding-top: 26px;
    }

    #panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
        height: 6px;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
        pointer-events: none;
        cursor: default;
        transform: translate3d(0, 1px, 0);
        box-shadow: none;
        border-right: none;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4.last {
        border-right: 1px solid transparent;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 + li {
        border-left: 1px solid #dfdfdf;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
        background-color: white;
        color: #c0392b;
        padding-top: 26px;
    }

    #panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
        height: 6px;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
        pointer-events: none;
        cursor: default;
        transform: translate3d(0, 1px, 0);
        box-shadow: none;
        border-right: none;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5.last {
        border-right: 1px solid transparent;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 + li {
        border-left: 1px solid #dfdfdf;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
        background-color: white;
        color: #c0392b;
        padding-top: 26px;
    }

    #panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label::after {
        height: 6px;
    }

    ul#tabs-list {
        text-align: center;
        border-bottom: 1px solid #dfdfdf;
    }

    ul#tabs-list li {
        display: inline-block;
        text-align: center;
        font-size: 0.875em;
        width: 18%;
        box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
        border-right: 1px solid #dfdfdf;
        position: relative;
    }

    ul#tabs-list li:hover {
        transition: none;
        border-right: none;
    }

    ul#tabs-list li:hover.last {
        border-right: 1px solid transparent;
    }

    ul#tabs-list li:hover + li {
        border-left: 1px solid #dfdfdf;
    }

    ul#tabs-list li label.panel-label {
        position: relative;
        padding: 24px 0;
    }

    ul#tabs-list li label.panel-label::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100%;
        background-color: #c0392b;
        height: 0;
        transition-property: height;
        transition-duration: 200ms;
    }

    ul#tabs-list li label.panel-label:hover {
        padding-top: 25px;
    }

    ul#tabs-list li label.panel-label:hover::after {
        height: 6px;
    }

    #open-nav-label, #close-nav-label {
        display: none;
    }

    #nav-ctrl {
        display: none;
    }
}

@media all and (min-width: 900px) {
    main {
        width: 70%;
        margin: 0 auto;
    }
}

.panel-radios {
    position: fixed;
    left: 50%;
    top: 10px;
    width: 20px;
    opacity: 0.5;
    z-index: 99;
}

.panel-radios:nth-child(1) {
    transform: translateX(-50px);
}

.panel-radios:nth-child(2) {
    transform: translateX(-30px);
}

.panel-radios:nth-child(3) {
    transform: translateX(-10px);
}

.panel-radios:nth-child(4) {
    transform: translateX(10px);
}

.panel-radios:nth-child(5) {
    transform: translateX(30px);
}

.panel-radios:nth-child(6) {
    top: 30px;
    transform: translateX(-10px);
    display: block;
}

body {
    background: #e74c3c;
    color: #444;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

#introduction {
    width: 90%;
    margin: 0 auto;
    padding: 48px 24px;
    color: white;
}

#introduction h1 {
    font-weight: 300;
    text-align: center;
}

main h1 {
    margin-top: 0;
    font-weight: 300;
    color: #c0392b;
}

main p {
    line-height: 1.8;
}

main hr {
    margin: 12px 0;
    border-top: 1px solid #dfdfdf;
}

label.demo-label {
    background-color: #c0392b;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

label.demo-label:hover {
    background-color: #e74c3c;
}

#demo-child-toggle {
    display: none;
}

#demo-child-toggle:checked ~ #demo-parent #demo-child {
    color: #c0392b;
    font-weight: bold;
    text-transform: uppercase;
}

#demo-parent {
    margin-top: 8px;
}

code, pre {
    color: #c0392b;
    font-family: Inconsolata, "Andale Mono", Andale, monowidth;
    background-color: #ecf0f1;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
}

code {
    padding: 2px 6px;
}

pre {
    padding: 12px;
    line-height: 1.6;
}

pre strong {
    color: #444;
    font-weight: normal;
}


.input-tab, section {
    clear: both;
    padding-top: 10px;
    display: none;
}

.label-tab {
    text-align: center;
    width: 33%;
    font-weight: bold;
    font-size: 14px;
    display: block;
    float: left;
    padding: 10px;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #DDD;
    background-color: antiquewhite;
}

.label-tab:hover {
    cursor: pointer;
    text-decoration: underline;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
    display: block;
}

.input-tab:checked + .label-tab {
    border-top-color: #FFB03D;
    border-right-color: #DDD;
    border-left-color: #DDD;
    border-bottom-color: transparent;
    text-decoration: none;
    background-color: white;
}

/*.login-pf-page .card-pf {*/
/*    padding: 10px 30px 30px 30px !;*/
/*    margin-bottom: 0;*/
/*}*/
/*@media (min-width: 768px) {*/
/*    .login-pf-page .card-pf {*/
/*        padding: 20px 10px 30px 10px;*/
/*    }*/
/*}*/
.header-style {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.42), 1px 2px 1px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
    background: url('../img/header.jpg');
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}